doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/javascripts/taggle.js-1.11.1/example/css/twilight.css')
    link(rel='stylesheet', href='/javascripts/taggle.js-1.11.1/example/css/projects.min.css')
    link(rel='stylesheet', href='/javascripts/taggle.js-1.11.1/example/css/taggle.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='https://cdn.quilljs.com/1.2.2/quill.snow.css')
    link(rel='stylesheet', href='/javascripts/jsgrid-1.5.3/jsgrid.min.css')
    link(rel='stylesheet', href='/javascripts/jsgrid-1.5.3/jsgrid-theme.min.css')
    link(rel='stylesheet', href='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.css')

    script(type='text/javascript' src='/javascripts/jquery-ui-1.12.1.custom/external/jquery/jquery.js')
    script(type='text/javascript' src='/javascripts/jquery-ui-1.12.1.custom/jquery-ui.js')
    script(type='text/javascript' src='/javascripts/jsgrid-1.5.3/jsgrid.min.js')
    script(type='text/javascript' src='/javascripts/taggle.js-1.11.1/src/taggle-ie8.js')
    script(type='text/javascript' src='/javascripts/taggle.js-1.11.1/src/taggle-ie9.js')
    script(type='text/javascript' src='/javascripts/taggle.js-1.11.1/src/taggle.js')

  body
    block content

