extends layout

block content
  h1 View a Note

  div(id='editor') Greetings.

  script(type='text/javascript' src='https://cdn.quilljs.com/1.2.2/quill.js')
  script(type='text/javascript' src='/javascripts/viewnote/viewnote.js')
  