extends layout

block content

  h1 View a Note
  label Creation Date:
  b
    div(id='currentdate')
  
  br

  label Subject:  
  br
  input(type='text', id='notesubject', name='f1_notesubject')
  br
  br

  button(class='ui-button ui-widget ui-corner-all', id='icoSave', title='Save changes') 
    span(class='ui-icon ui-icon-disk') 
    span Save 

  button(class='ui-button ui-widget ui-corner-all', id='icoTrash', title='Delete this note') 
    span(class='ui-icon ui-icon-trash') 
    span Delete 

  div(id='editor') Note text

  script.
    var noteid = '#{id}';

  script(type='text/javascript' src='https://cdn.quilljs.com/1.2.2/quill.js')
  script(type='text/javascript' src='/javascripts/viewnote/viewnote.js')
  