extends layout

block content
  h1 View a Note

  textarea Easy (and free!) You should check out our premium features.

  script(type='text/javascript' src='http://cloud.tinymce.com/stable/tinymce.min.js')
  script(type='text/javascript' src='/javascripts/viewnote/viewnote.js')
